body {
  margin: 0;
  font-family: 'Calibri';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Calibri';
}

a {
  text-decoration: none;
  color: #5392f9;
}

* {
  box-sizing: border-box;
}
